{% extends "inventory/base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Dashboard</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.file }}
                <button type="submit" class="btn btn-primary">Import Excel File</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total Records</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_records }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Total Equipments</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_equipments }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
